#whole {
    height: 100vh;
    width: 100%;
    position: relative;
}

.containers {
    position: relative;
    height: auto;
    background-color:aliceblue;
    color: #000;
    width: 800px;
}

.font-container {
    width: 650px;
    padding: 20px;
    margin: 10px;
    position: relative;
}

.font-container p{
    margin-bottom: 8px;
}

.big-title {}
.medium-title {}
.small-title {}

upper-case {
    text-transform: capitalize;
}
