
/*----------------------------------------------------------------*/
/*-----STYLED-----*/
@font-face {
    font-family: SlimJoe;
    src: url(../font/SlimJoe.otf);
}

@font-face {
    font-family: Chardons;
    src: url(../font/Chardons/Chardons.ttf);
}


@font-face {
    font-family: Mosk;
    src: url(../font/Mosk/MoskNormal400.ttf);
}

@font-face {
    font-family: DirectDuGauche;
    src: url(../font/DirectDuGauche/Direct-du-Gauche.ttf);
}

@font-face {
    font-family: DitaSweet;
    src: url(../font/DitaSweet/Dita-Sweet.ttf);
}


/*----------------------------------------------------------------*/
/*-----Normal-----*/

/*Raleway*/
@font-face {
    font-family: Raleway-Regular;
    src: url(../font/raleway/Raleway-Regular.otf);
}

@font-face {
    font-family: Raleway-Light;
    src: url(../font/raleway/Raleway-Light.otf);
}


@font-face {
    font-family: Raleway-ExtraLight;
    src: url(../font/raleway/Raleway-ExtraLight.otf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../font/raleway/Raleway-SemiBold.otf);
}

@font-face {
    font-family: Raleway-SemiBold-Italic;
    src: url(../font/raleway/Raleway-SemiBold-Italic.otf);
}


@font-face {
    font-family: Raleway-Bold;
    src: url(../font/raleway/Raleway-Bold.otf);
}

@font-face {
    font-family: Raleway-Regular-Italic;
    src: url(../font/raleway/Raleway-Regular-Italic.otf);
}


/*DAX*/
@font-face {
    font-family: DaxBold;
    src: url(../font/Dax/DaxBold.ttf);
}

@font-face {
    font-family: DaxMedium;
    src: url(../font/Dax/DaxMedium.ttf);
}

@font-face {
    font-family: DaxRegular;
    src: url(../font/Dax/DaxRegular.ttf);
}
